body{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-size: .9em;
	text-align: center;
	margin:0;
	background: rgb(242,242,242);

}

a{
	text-decoration: none;
	font-weight: 700;
	color:cadetblue;
}
a:hover{
	color:darkgrey;
}

a:visited{
	color: cadetblue;
}
/*HEADER PARALLAX STUFF*/
.parallax-window {
    min-height: 500px;
    background: transparent;
}

/*EACH SECTION STYLES*/
section{
	position: relative;
	z-index:1;
	padding-bottom:50px;
}

section:first-child h2{
	padding-top: 50px;
}

/*slanted section lines - reference: http://lawrencenaman.com/css/responsive-slanted-divs-with-css/*/
.contact{
	position: relative;
	/*background: rgb(242,242,242); */
}

.about:before, .work:before, .contact:before{
	content: '';
	position: absolute;
	left: 0;
	top: .75em;
	overflow: visible;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: -1;
	-webkit-transform: skewY(-3deg);
	-moz-transform: skewY(-3deg);
	-ms-transform: skewY(-3deg);
	-o-transform: skewY(-3deg);
	transform: skewY(-3deg);
	-webkit-backface-visibility: hidden;
}

.about:before, .contact:before{
	background-color: rgb(242,242,242);
}

h2{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	font-size: 1.6em;
	margin-bottom: 50px;
	font-weight: 700;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

main p{
	display: inline-block;
    width: 300px;
    line-height: 1.4em;
    text-align: justify;
    margin: 0px 15px 15px 15px;
    vertical-align: top;
}

/*MAIN PROJECT SECTION*/
.projects{
	width: 700px;
    margin: 0 auto;
}

article {
	margin-bottom: 50px;
	text-align: left;
}

article:hover{
	cursor:pointer;
}

.short-description{
	width: 400px;
	display: inline-block;
	vertical-align: top;
	padding: 20px 0 20px 0;
}

.short-description:hover{
	font-style: italic;
}

article p{
	margin: 0;
    width: auto;
    padding: 10px 0 5px 0;
}
article img{
	width: 290px;
}

/*HIDDEN PROJECT SECTIONS*/
.details{
	display:none;
}

.details div{
	margin:20px auto 0;
}

.details img{
	width:220px;
	display:inline-block;
	padding:0 5px 0 5px;
}

.tech{
	font-size: .7em;
}

button{
	border: 1px solid black;
    padding: 22px;
    background-color: white;
    margin: 30px auto;
    width: 259px;
    display: block;
    font-size: 1.1em;
    letter-spacing: 2px;
    outline:0;
}

button:hover{
	background-color: black;
	color:white;
}

hr{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    height: 2px;
    border: 0;
}

/*SPECIFIC STYLE FOR LOOK UP PROJECT*/
#look-up-details{
	width: 300px;
}

#look-up-img{
	width: 374px;
    position: relative;
    left: 44px;
}

/*FOOTER STUFF*/
.contact a{
	display: inline-block;
}

.social-media{
	margin: 30px 0 0 0;
}
.social-media img{
	padding: 0 15px 0 15px;
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 1000px) {
	.parallax-window{
  		display: none;
  	}

  	section:first-child h2{
  		margin-bottom:20px;
  	}

  	.about div{
  		margin:0 auto;
  		width:300px;
  	}

  	main p{
  		display: block;
  		margin:0 0 15px 0;
  	}
}

@media only screen and (min-width: 569px) and (max-width: 730px){
	
	.projects{
		width: 360px;
		margin: 0 auto;
	}

	article{
		text-align: left;
	}

	.short-description{
		width:auto;
	}

	article p{
		text-align: left;
		margin:0;
		padding-top: 15px;
	}

	article img{
		display: inherit;
		width:360px;
	}

	#look-up-img{
		left:0;
	}

	.details p{
		text-align: justify;
	}

	.details img{
		width: 116px;
		padding: 0 0 17px 0;
	}

	.tech{
		padding:0;
	}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	
  	.about:before, .work:before, .contact:before{
	  	-webkit-transform: skewY(-7deg);
	    -moz-transform: skewY(-7deg);
	    -ms-transform: skewY(-7deg);
	    -o-transform: skewY(-7deg);
	    transform: skewY(-7deg);
	}


  	section{
  		padding-bottom: 30px;
  	}

  	.work{
  		padding-bottom: 20px;
  	}

  	h2{
		margin-bottom: 20px;
	}

	.projects{
		width: 100%;
	}

	.short-description{
		width:auto;
		padding: 20px 15px;
	}

	article{
		margin-bottom: 30px;
	}
	article p{
		font-size: .9em;
		margin:0;
		padding-top: 15px;
	}

	article img{
		width:100%;
	}

	.details{
		padding: 5px 15px;
	}
	.details div{
		margin:10px auto 0;
		text-align: center;
	}

	.details img{
		width: 32%;
		padding: 0;
	}
	.tech{
		font-size: .6em;
		padding-bottom: 0;
	}

	button{
		margin: 20px auto;
	}

	#look-up-img{
		width:400px;
		left:-25px;
	}


}













