body{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-size: .9em;
	text-align: center;
	margin:0;
	background: rgb(242,242,242);

}

a{
	text-decoration: none;
	font-weight: 700;
	color:cadetblue;
}
a:hover{
	color:darkgrey;
}

a:visited{
	color: cadetblue;
}
/*HEADER PARALLAX STUFF*/
.my-parallax-window {
    min-height: 500px;
}

/*EACH SECTION STYLES*/
section{
	position: relative;
	z-index:1;
	padding-bottom:50px;
}

section:first-child h2{
	padding-top: 50px;
}

/*slanted section lines - reference: http://lawrencenaman.com/css/responsive-slanted-divs-with-css/*/
.about:before, .work:before, .contact:before{
	content: '';
	position: absolute;
	left: 0;
	top: .75em;
	overflow: visible;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: -1;
	-webkit-transform: skewY(-3deg);
	-moz-transform: skewY(-3deg);
	-ms-transform: skewY(-3deg);
	-o-transform: skewY(-3deg);
	transform: skewY(-3deg);
	-webkit-backface-visibility: hidden;
}

.about:before, .contact:before{
	background-color: rgb(242,242,242);
}

h2{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	font-size: 1.6em;
	margin-bottom: 50px;
	font-weight: 700;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

main p{
	display: inline-block;
    width: 300px;
    line-height: 1.4em;
    text-align: justify;
    margin: 0px 15px 15px 15px;
    vertical-align: top;
}

/*MAIN PROJECT SECTION*/
.projects{
	width: 700px;
    margin: 0 auto;
}

article {
	margin-bottom: 50px;
	text-align: left;
}

article:hover{
	cursor:pointer;
}

.short-description{
	width: 400px;
	display: inline-block;
	vertical-align: top;
	padding: 20px 0 20px 0;
}

.short-description:hover{
	font-style: italic;
}

article p{
	margin: 0;
    width: auto;
    padding: 10px 0 5px 0;
}
article img{
	width: 290px;
}

/*HIDDEN PROJECT SECTIONS*/
.details{
	display:none;
}

.details div{
	margin:20px auto 0;
}

.details img{
	width:220px;
	display:inline-block;
	padding:0 5px 0 5px;
}

.tech{
	font-size: .7em;
}

button{
	border: 1px solid black;
    padding: 22px;
    background-color: white;
    margin: 30px auto;
    width: 259px;
    display: block;
    font-size: 1.1em;
    letter-spacing: 2px;
    outline:0;
}

button:hover{
	background-color: black;
	color:white;
}

hr{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    height: 2px;
    border: 0;
}

/*SPECIFIC STYLE FOR LOOK UP PROJECT*/
#look-up-details{
	width: 300px;
}

#look-up-img{
	width: 374px;
    position: relative;
    left: 44px;
}

/*FOOTER STUFF*/
.contact a{
	display: inline-block;
}

.social-media{
	margin: 30px 0 0 0;
}
.social-media img{
	padding: 0 15px 0 15px;
}
















