body {
	background-color: blanchedalmond;
	margin:0;
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  	font-weight: 100;
  	color: white;
  	text-align: center;
  	line-height: 1.25;
}

.container {
	width: 950px;
}

h1{
	letter-spacing: 5px;
	font-size: 100px;
	/*text-align: center;*/
}

button {
	width: 300px;
	height: 300px;
	border: 3px solid white;
  	font-size: 250px;
  	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  	font-weight: 100;
  	color: white;
  	margin: 50px;
}

.box{
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 0px;
	vertical-align:top;
	text-align: center;
	position: relative;
	border: 3px solid white;
	font-size: 250px;
}

/*#board {
	width: 600px;
	height: 600px;
	margin: 0 auto;
}

.rows {
	width: 600px;
}

.columns {
	height: 600px;

}

.#rowOne {
	border-bottom: 1px solid white;
}

.#rowTwo {
	border-bottom: 1px solid white;
}

#columnOne {
	border-right: 1px solid white;
}

#columnTwo {
	border-right: 1px solid white;
}*/