body{
	margin: 50px auto;
	text-align: center;
	text-transform: uppercase;
	font-family: "helvetica", sans-serif;
}

input{
	height: 50px;
	width: 130px;
}

input[type=submit] {
	margin-top:20px;
	padding:5px 15px; 
	background:#ccc; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

ul{
	list-style-type: none;
    padding: 30px;
    width: 300px;
    margin: 45px auto;
    text-align: center;
    background-color: darkseagreen;
    color: white;
}

li{
	text-align: left;
}